body {
    font-family: Arial, sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(9, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px; 
  }
  
  .container {
    background: rgb(14, 0, 255);
    background: linear-gradient(
      315deg,
      rgb(40, 32, 193) 0%,
      rgb(170, 123, 228) 57%,
      rgb(73, 203, 229) 100%
    );
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 20px; 
    box-sizing: border-box; 
  }
  
  #registrationForm {
    margin: auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1c1fd5;
  }
  
  .form-group {
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  button {
    background-color: #3131a7;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
  }
  
  button:hover {
    background-color: #25c8db;
  }
  
  button:active {
    background-color: #0300a8;
  }
  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
      margin: 10px;
    }
  }
  